<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crear nou producte</title>
    <link rel="stylesheet" href="/static/create.css">
</head>

<body>
    <fieldset>
        <legend>Nou producte</legend>
        <form method="POST" action="/products/create" enctype="multipart/form-data">
            <div class="form-row">
                <label for="title">NOM<span>*</span></label>
                <input type="text" id="title" name="title"></input>
            </div>
            <div class="form-row">
                <label for="description">DESCRIPCIO<span>*</span></label>
                <input type="text" id="description" name="description"></input>
            </div>
            <div class="form-row">
                <label for="photo">IMATGE<span>*</span></label>
                <input type="file" id="photo" name="photo"></input>
            </div>
            <div class="form-row">
                <label for="price">PREU<span>*</span></label>
                <input type="number" id="price" name="price"></input>
            </div>
            <div class="form-row">
                <label for="category_id">Categoria<span>*</span></label>
                <select name="category_id"  id="category_id">
                    <option value="">Categoria</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div> 
            <button type="submit">Crear</button>
        </form>
    </fieldset>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <a href="{{url_for('list_products')}}" title="Pagina anterior">Tornar</a>
</body>

</html>