<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/list.css">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Descripció</th>
                <th>Imatge</th>
                <th>Preu</th>
                <th>ID Categoria</th>
                <th>Vendedor</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result['id'] }}</td>
                <td>{{ result['nom'] }}</td>
                <td>{{ result['descripcio'] }}</td>
                <td>{{ result['imatge'] }}</td>
                <td>{{ result['preu'] }}</td>
                <td>{{ result['idcat'] }}</td>
                <td>{{ result['vendedor'] }}</td>
                <td>{{ result['creado'] }}</td>
                <td>{{ result['actualizado'] }}</td>
                <td><a class="action" href="/products/read/{{ result['id'] }}" title="Veure">Veure</a></td>
                <td><a class="action" href="/products/update/{{ result['id'] }}" title="Editar">Editar</a></td>
                <td><a class="action" href="/products/delete/{{ result['id'] }}" title="Eliminar">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <div class="enlaces"> <a href="/products/create">Crear nou registre</a>
        </div>
</body>

</html>