<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar producte - {{ product.title }}</title>
    <link rel="stylesheet" href="/static/create.css">
</head>

<body>
    <fieldset>
        <legend>Editar producte - {{ product.title }}</legend>
        <form method="POST" action="/products/update/{{ product.id }}">
            <div class="form-row">
                <label for="title">NOM<span>*</span></label>
                <input type="text" value="{{ product.title }}" id="title" name="title"></input>
            </div>
            <div class="form-row">
                <label for="description">DESCRIPCIO<span>*</span></label>
                <input type="text" value="{{ product.description }}" id="description" name="description"></input>
            </div>
            <div class="form-row">
                <label for="photo">IMATGE<span>*</span></label>
                <input type="file" value="{{ product.photo }}" id="photo" name="photo"></input>
            </div>
            <div class="form-row">
                <label for="price">PREU<span>*</span></label>
                <input type="number" value="{{ product.price }}" id="price" name="price"></input>
            </div>
            <div class="form-row">
                <label for="category_id">Categoria<span>*</span></label>
                <select name="category_id" id="category_id">
                    <option value="{{ product.category_id }}">{{category.name}}</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Editar</button>
        </form>
    </fieldset>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
      <a href="{{url_for('list_products')}}" title="Pagina anterior">Tornar</a>
</body>

</html>