<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/list.css">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Descripció</th>
                <th>Imatge</th>
                <th>Preu</th>
                <th>ID Categoria</th>
                <th>Vendedor</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for (product, categoria) in results %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.photo }}</td>
                <td>{{ product.price }}</td>
                <td>{{ categoria.name }}</td>
                <td>{{ product.seller_id }}</td>
                <td>{{ product.created.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ product.updated.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td><a class="action" href="/products/read/{{ product.id }}" title="Veure">Veure</a></td>
                <td><a class="action" href="/products/update/{{ product.id }}" title="Editar">Editar</a></td>
                <td><a class="action" href="/products/delete/{{ product.id }}" title="Eliminar">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="enlaces"> <a href="/products/create">Crear nou registre</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>