<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veure producte - {{ product.title }}</title>
    <link rel="stylesheet" href="/static/read.css">
</head>

<body>
    <h1>{{ product.title }}</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>DESCRIPCIO</th>
            <th>IMATGE</th>
            <th>PREU</th>
            <th>CATEGORIA</th>
            <th>VENDEDOR</th>
            <th>F. CREADO</th>
            <th>F. ACTUALIZADO</th>

        </tr>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.photo }}</td>
            <td>{{ product.price }}</td>
            <td>{{ category.name }}</td>
            <td>{{ product.seller_id }}</td>
            <td>{{ product.created.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ product.updated.strftime("%Y-%m-%d %H:%M:%S") }}</td>
</tr>
    </table>
    <a href="javascript:history.back()" title="Pagina anterior">Tornar</a>

</body>

</html>


</body>

</html>